* {
    margin: 0;
    padding: 0;
}


.slider {
    margin: 0 auto;
    position: relative;
    height: 400px;
    width: 800px;

}

.slider__slide {
    height: 400px;
    width: 800px;

}

.slide-image {
    position: absolute;
    display: inline-flex;
    height: 400px;
    width: 800px;
    z-index: -1;
    opacity: 0;
}

.slide-image--visible {
    opacity: 1;
    z-index: 1;
}

.controlBtn {
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 10;
    transition: 0.4s;
    cursor: pointer;



}

.controlBtn:hover{
  border-color: white;
}

.controlBtn-next {
    right: 20px;
    height: 40px;
    width: 40px;
    border-right: 5px solid gray;
    border-top: 5px solid gray;
    background: none !important;
    transform: rotate(45deg);

}

.controlBtn-prev {
    left: 20px;
    height: 40px;
    width: 40px;
    border-right: 5px solid gray;
    border-top: 5px solid gray;
    background: none !important;
    transform: rotate(225deg);

}

.dotsStyle {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 9999999;
    margin: 0 4px;
    cursor: pointer;
    transition: 0.4s;



}
.dotsStyle:hover{
    background-color: gray;
}
.dotsStyle:focus{
    background-color: gray;
}

.row{


    text-align: center;

}

.focusedDot{
    background-color: gray;
}